# Connect to DuckDB

Set up connection to the DuckDB database using duckdb-python driver and establish a database cursor.

In [2]:
import duckdb

# Connect to the DuckDB database
con = duckdb.connect(
    database="/Users/jaouadsalahy/Documents/IT/13_pollution_eau/database/data.duckdb"
)


# Establish a database cursor
cursor = con.cursor()

# List Tables and Schema

Query system tables to list all available tables and their schema information.

In [3]:
# List Tables and Schema

# Query to list all tables in the database
tables_query = "SHOW TABLES"
tables = cursor.execute(tables_query).fetchall()

# Display the list of tables
print("Tables in the database:")
for table in tables:
    print(table[0])

# Query to get schema information for each table
for table in tables:
    schema_query = f"DESCRIBE {table[0]}"
    schema = cursor.execute(schema_query).fetchall()

    # Display schema information
    print(f"\nSchema for table {table[0]}:")
    for column in schema:
        print(f"Column: {column[0]}, Type: {column[1]}")

Tables in the database:
cog_communes
edc_communes
edc_prelevements
edc_resultats
laposte_communes

Schema for table cog_communes:
Column: TYPECOM, Type: VARCHAR
Column: COM, Type: VARCHAR
Column: REG, Type: BIGINT
Column: DEP, Type: VARCHAR
Column: CTCD, Type: VARCHAR
Column: ARR, Type: VARCHAR
Column: TNCC, Type: BIGINT
Column: NCC, Type: VARCHAR
Column: NCCENR, Type: VARCHAR
Column: LIBELLE, Type: VARCHAR
Column: CAN, Type: VARCHAR
Column: COMPARENT, Type: VARCHAR
Column: de_partition, Type: INTEGER
Column: de_ingestion_date, Type: DATE
Column: de_dataset_datetime, Type: VARCHAR

Schema for table edc_communes:
Column: inseecommune, Type: VARCHAR
Column: nomcommune, Type: VARCHAR
Column: quartier, Type: VARCHAR
Column: cdreseau, Type: VARCHAR
Column: nomreseau, Type: VARCHAR
Column: debutalim, Type: DATE
Column: de_partition, Type: INTEGER
Column: de_ingestion_date, Type: DATE
Column: de_dataset_datetime, Type: VARCHAR

Schema for table edc_prelevements:
Column: cddept, Type: VARCHAR
Column: cdreseau, Type: VARCHAR
Column: inseecommuneprinc, Type: VARCHAR
Column: nomcommuneprinc, Type: VARCHAR
Column: cdreseauamont, Type: VARCHAR
Column: nomreseauamont, Type: VARCHAR
Column: pourcentdebit, Type: VARCHAR
Column: referenceprel, Type: VARCHAR
Column: dateprel, Type: DATE
Column: heureprel, Type: VARCHAR
Column: conclusionprel, Type: VARCHAR
Column: ugelib, Type: VARCHAR
Column: distrlib, Type: VARCHAR
Column: moalib, Type: VARCHAR
Column: plvconformitebacterio, Type: VARCHAR
Column: plvconformitechimique, Type: VARCHAR
Column: plvconformitereferencebact, Type: VARCHAR
Column: plvconformitereferencechim, Type: VARCHAR
Column: de_partition, Type: INTEGER
Column: de_ingestion_date, Type: DATE
Column: de_dataset_datetime, Type: VARCHAR

Schema for table edc_resultats:
Column: cddept, Type: VARCHAR
Column: referenceprel, Type: VARCHAR
Column: cdparametresiseeaux, Type: VARCHAR
Column: cdparametre, Type: BIGINT
Column: libmajparametre, Type: VARCHAR
Column: libminparametre, Type: VARCHAR
Column: libwebparametre, Type: VARCHAR
Column: qualitparam, Type: VARCHAR
Column: insituana, Type: VARCHAR
Column: rqana, Type: VARCHAR
Column: cdunitereferencesiseeaux, Type: VARCHAR
Column: cdunitereference, Type: VARCHAR
Column: limitequal, Type: VARCHAR
Column: refqual, Type: VARCHAR
Column: valtraduite, Type: DOUBLE
Column: casparam, Type: VARCHAR
Column: referenceanl, Type: VARCHAR
Column: de_partition, Type: INTEGER
Column: de_ingestion_date, Type: DATE
Column: de_dataset_datetime, Type: VARCHAR

Schema for table laposte_communes:
Column: code_commune_insee, Type: VARCHAR
Column: nom_de_la_commune, Type: VARCHAR
Column: code_postal, Type: VARCHAR
Column: libelle_d_acheminement, Type: VARCHAR
Column: ligne_5, Type: VARCHAR
Column: _geopoint, Type: VARCHAR
Column: de_partition, Type: INTEGER
Column: de_ingestion_date, Type: DATE
Column: de_dataset_datetime, Type: VARCHAR

# Basic Data Overview

Execute queries to get row counts, column statistics, and sample data from tables.

In [ ]:
# Basic Data Overview

import pandas as pd

# For each table, load it into a pandas DataFrame and display info and description
for table in tables:
    print(f"\n{'=' * 50}")
    print(f"Table: {table[0]}")
    print(f"{'=' * 50}")

    # Convert DuckDB table to pandas DataFrame
    df = pd.read_sql(f"SELECT * FROM {table[0]}", cursor)

    # Display basic information about the DataFrame
    print("\nDataFrame Info:")
    print(df.info())

    # Display statistical description
    print("\nStatistical Description:")
    print(df.describe(include="all"))

    # Display first few rows
    print("\nFirst 5 rows:")
    print(df.head())

==================================================
Table: cog_communes
==================================================

/var/folders/g7/4lgzwcbd7j350tyzjl5vf1zm0000gn/T/ipykernel_27703/3635777492.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT * FROM {table[0]}", cursor)

DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37544 entries, 0 to 37543
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   TYPECOM              37544 non-null  object
 1   COM                  37544 non-null  object
 2   REG                  34980 non-null  float64
 3   DEP                  34980 non-null  object
 4   CTCD                 34980 non-null  object
 5   ARR                  34963 non-null  object
 6   TNCC                 37544 non-null  int64
 7   NCC                  37544 non-null  object
 8   NCCENR               37544 non-null  object
 9   LIBELLE              37544 non-null  object
 10  CAN                  34924 non-null  object
 11  COMPARENT            2609 non-null   object
 12  de_partition         37544 non-null  int64
 13  de_ingestion_date    37544 non-null  object
 14  de_dataset_datetime  37544 non-null  object
dtypes: float64(1), int64(2), object(12)
memory usage: 4.3+ MB
None

Statistical Description:
       TYPECOM    COM           REG    DEP   CTCD    ARR          TNCC  \
count    37544  37544  34980.000000  34980  34980  34963  37544.000000
unique       4  36971           NaN    101    100    333           NaN
top        COM  91390           NaN     62    62D    621           NaN
freq     34935      2           NaN    890    890    357           NaN
mean       NaN    NaN     52.279445    NaN    NaN    NaN      0.305721
std        NaN    NaN     24.361012    NaN    NaN    NaN      0.783234
min        NaN    NaN      1.000000    NaN    NaN    NaN      0.000000
25%        NaN    NaN     28.000000    NaN    NaN    NaN      0.000000
50%        NaN    NaN     44.000000    NaN    NaN    NaN      0.000000
75%        NaN    NaN     76.000000    NaN    NaN    NaN      0.000000
max        NaN    NaN     94.000000    NaN    NaN    NaN      8.000000

                  NCC         NCCENR        LIBELLE    CAN COMPARENT  \
count           37544          37544          37544  34924      2609
unique          34666          34743          34921   2042       934
top     SAINT SAUVEUR  Saint-Sauveur  Saint-Sauveur   5723     14371
freq               13             13             13    135        22
mean              NaN            NaN            NaN    NaN       NaN
std               NaN            NaN            NaN    NaN       NaN
min               NaN            NaN            NaN    NaN       NaN
25%               NaN            NaN            NaN    NaN       NaN
50%               NaN            NaN            NaN    NaN       NaN
75%               NaN            NaN            NaN    NaN       NaN
max               NaN            NaN            NaN    NaN       NaN

        de_partition de_ingestion_date de_dataset_datetime
count        37544.0             37544               37544
unique           NaN                 1                   1
top              NaN        2025-03-03            20240220
freq             NaN             37544               37544
mean          2024.0               NaN                 NaN
std              0.0               NaN                 NaN
min           2024.0               NaN                 NaN
25%           2024.0               NaN                 NaN
50%           2024.0               NaN                 NaN
75%           2024.0               NaN                 NaN
max           2024.0               NaN                 NaN

First 5 rows:
  TYPECOM    COM   REG DEP CTCD  ARR  TNCC                    NCC  \
0     COM  01001  84.0  01  01D  012     5  ABERGEMENT CLEMENCIAT
1     COM  01002  84.0  01  01D  011     5    ABERGEMENT DE VAREY
2     COM  01004  84.0  01  01D  011     1      AMBERIEU EN BUGEY
3     COM  01005  84.0  01  01D  012     1    AMBERIEUX EN DOMBES
4     COM  01006  84.0  01  01D  011     1                AMBLEON

                  NCCENR                  LIBELLE   CAN COMPARENT  \
0  Abergement-Clémenciat  L'Abergement-Clémenciat  0108      None
1    Abergement-de-Varey    L'Abergement-de-Varey  0101      None
2      Ambérieu-en-Bugey        Ambérieu-en-Bugey  0101      None
3    Ambérieux-en-Dombes      Ambérieux-en-Dombes  0122      None
4                Ambléon                  Ambléon  0104      None

   de_partition de_ingestion_date de_dataset_datetime
0          2024        2025-03-03            20240220
1          2024        2025-03-03            20240220
2          2024        2025-03-03            20240220
3          2024        2025-03-03            20240220
4          2024        2025-03-03            20240220

==================================================
Table: edc_communes
==================================================

/var/folders/g7/4lgzwcbd7j350tyzjl5vf1zm0000gn/T/ipykernel_27703/3635777492.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT * FROM {table[0]}", cursor)

DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 247622 entries, 0 to 247621
Data columns (total 9 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   inseecommune         247622 non-null  object
 1   nomcommune           247622 non-null  object
 2   quartier             247622 non-null  object
 3   cdreseau             247622 non-null  object
 4   nomreseau            247622 non-null  object
 5   debutalim            247622 non-null  object
 6   de_partition         247622 non-null  int64
 7   de_ingestion_date    247622 non-null  object
 8   de_dataset_datetime  247622 non-null  object
dtypes: int64(1), object(8)
memory usage: 17.0+ MB
None

Statistical Description:
       inseecommune       nomcommune quartier   cdreseau  \
count        247622           247622   247622     247622
unique        34914            32657    16594      23767
top           48009  PEYRE EN AUBRAC        -  048000295
freq            570              570   127723        405
mean            NaN              NaN      NaN        NaN
std             NaN              NaN      NaN        NaN
min             NaN              NaN      NaN        NaN
25%             NaN              NaN      NaN        NaN
50%             NaN              NaN      NaN        NaN
75%             NaN              NaN      NaN        NaN
max             NaN              NaN      NaN        NaN

                   nomreseau   debutalim   de_partition de_ingestion_date  \
count                 247622      247622  247622.000000            247622
unique                 24348        2057            NaN                 2
top     CAUSSE DU SAUVETERRE  2010-09-07            NaN        2025-02-14
freq                     405       16571            NaN            198086
mean                     NaN         NaN    2022.000565               NaN
std                      NaN         NaN       1.413751               NaN
min                      NaN         NaN    2020.000000               NaN
25%                      NaN         NaN    2021.000000               NaN
50%                      NaN         NaN    2022.000000               NaN
75%                      NaN         NaN    2023.000000               NaN
max                      NaN         NaN    2024.000000               NaN

       de_dataset_datetime
count               247622
unique                   5
top        20230707-102238
freq                 49620
mean                   NaN
std                    NaN
min                    NaN
25%                    NaN
50%                    NaN
75%                    NaN
max                    NaN

First 5 rows:
  inseecommune                  nomcommune              quartier   cdreseau  \
0        01001  ABERGEMENT-CLEMENCIAT (L')                     -  001000556
1        01002    ABERGEMENT-DE-VAREY (L')                     -  001000369
2        01004           AMBERIEU-EN-BUGEY             Vareilles  001000248
3        01004           AMBERIEU-EN-BUGEY  St Germain_Brédevent  001000249
4        01004           AMBERIEU-EN-BUGEY                 ville  001000251

                        nomreseau   debutalim  de_partition de_ingestion_date  \
0        BDS ST DIDIER/CHALARONNE  2010-09-07          2020        2025-02-14
1           L'ABERGEMENT-DE-VAREY  2010-09-07          2020        2025-02-14
2              AMBERIEU VAREILLES  2010-09-07          2020        2025-02-14
3  AMBERIEU SAINT GERMAIN DOUVRES  2010-09-07          2020        2025-02-14
4                  AMBERIEU VILLE  2010-09-07          2020        2025-02-14

  de_dataset_datetime
0     20230811-150005
1     20230811-150005
2     20230811-150005
3     20230811-150005
4     20230811-150005

==================================================
Table: edc_prelevements
==================================================

/var/folders/g7/4lgzwcbd7j350tyzjl5vf1zm0000gn/T/ipykernel_27703/3635777492.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT * FROM {table[0]}", cursor)

DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2083345 entries, 0 to 2083344
Data columns (total 21 columns):
 #   Column                      Dtype
---  ------                      -----
 0   cddept                      object
 1   cdreseau                    object
 2   inseecommuneprinc           object
 3   nomcommuneprinc             object
 4   cdreseauamont               object
 5   nomreseauamont              object
 6   pourcentdebit               object
 7   referenceprel               object
 8   dateprel                    object
 9   heureprel                   object
 10  conclusionprel              object
 11  ugelib                      object
 12  distrlib                    object
 13  moalib                      object
 14  plvconformitebacterio       object
 15  plvconformitechimique       object
 16  plvconformitereferencebact  object
 17  plvconformitereferencechim  object
 18  de_partition                int64
 19  de_ingestion_date           object
 20  de_dataset_datetime         object
dtypes: int64(1), object(20)
memory usage: 333.8+ MB
None

Statistical Description:
         cddept   cdreseau inseecommuneprinc nomcommuneprinc cdreseauamont  \
count   2083345    2083345           2083345         2083345        997510
unique      101      23767             34906           32652         22897
top         013  069000069             13055       MARSEILLE     013000577
freq      74101       7413             53935           53935         44811
mean        NaN        NaN               NaN             NaN           NaN
std         NaN        NaN               NaN             NaN           NaN
min         NaN        NaN               NaN             NaN           NaN
25%         NaN        NaN               NaN             NaN           NaN
50%         NaN        NaN               NaN             NaN           NaN
75%         NaN        NaN               NaN             NaN           NaN
max         NaN        NaN               NaN             NaN           NaN

                 nomreseauamont pourcentdebit referenceprel    dateprel  \
count                    997510        902083       2083345     2083345
unique                    22912           101       1436114        1403
top     MARSEILLE SAINTE-MARTHE         100 %   01100169874  2020-06-03
freq                      44811        640714            66        2390
mean                        NaN           NaN           NaN         NaN
std                         NaN           NaN           NaN         NaN
min                         NaN           NaN           NaN         NaN
25%                         NaN           NaN           NaN         NaN
50%                         NaN           NaN           NaN         NaN
75%                         NaN           NaN           NaN         NaN
max                         NaN           NaN           NaN         NaN

       heureprel  ...   ugelib distrlib                      moalib  \
count    2080180  ...  2083345  2083345                     2083345
unique       986  ...    10627     6760                        8485
top        10h00  ...    SEDIF     SAUR  AMP CT1-MARSEILLE PROVENCE
freq       23760  ...    44645    70403                       34597
mean         NaN  ...      NaN      NaN                         NaN
std          NaN  ...      NaN      NaN                         NaN
min          NaN  ...      NaN      NaN                         NaN
25%          NaN  ...      NaN      NaN                         NaN
50%          NaN  ...      NaN      NaN                         NaN
75%          NaN  ...      NaN      NaN                         NaN
max          NaN  ...      NaN      NaN                         NaN

       plvconformitebacterio plvconformitechimique plvconformitereferencebact  \
count                2083268               2083268                    2083268
unique                     3                     4                          3
top                        C                     C                          C
freq                 1902059               2016408                    1851291
mean                     NaN                   NaN                        NaN
std                      NaN                   NaN                        NaN
min                      NaN                   NaN                        NaN
25%                      NaN                   NaN                        NaN
50%                      NaN                   NaN                        NaN
75%                      NaN                   NaN                        NaN
max                      NaN                   NaN                        NaN

       plvconformitereferencechim  de_partition  de_ingestion_date  \
count                     2083268  2.083345e+06            2083345
unique                          4           NaN                  2
top                             C           NaN         2025-02-14
freq                      1742679           NaN            1667217
mean                          NaN  2.022013e+03                NaN
std                           NaN  1.408006e+00                NaN
min                           NaN  2.020000e+03                NaN
25%                           NaN  2.021000e+03                NaN
50%                           NaN  2.022000e+03                NaN
75%                           NaN  2.023000e+03                NaN
max                           NaN  2.024000e+03                NaN

       de_dataset_datetime
count              2083345
unique                   5
top        20241014-073810
freq                424035
mean                   NaN
std                    NaN
min                    NaN
25%                    NaN
50%                    NaN
75%                    NaN
max                    NaN

[11 rows x 21 columns]

First 5 rows:
  cddept   cdreseau inseecommuneprinc nomcommuneprinc cdreseauamont  \
0    001  001000003             01007        AMBRONAY          None
1    001  001000003             01007        AMBRONAY     001001304
2    001  001000003             01007        AMBRONAY          None
3    001  001000003             01007        AMBRONAY          None
4    001  001000003             01007        AMBRONAY          None

       nomreseauamont pourcentdebit referenceprel    dateprel heureprel  ...  \
0                None          None   00100119766  2020-02-13     11h40  ...
1  TTP (CLG) AMBRONAY         100 %   00100120290  2020-03-17     11h15  ...
2                None          None   00100120717  2020-05-14     11h54  ...
3                None          None   00100121072  2020-06-11     12h00  ...
4                None          None   00100121547  2020-07-08     11h09  ...

                          ugelib                        distrlib  \
0  SI REGION D'AMBERIEU-EN-BUGEY  SIE REGION D'AMBERIEU-EN-BUGEY
1  SI REGION D'AMBERIEU-EN-BUGEY  SIE REGION D'AMBERIEU-EN-BUGEY
2  SI REGION D'AMBERIEU-EN-BUGEY  SIE REGION D'AMBERIEU-EN-BUGEY
3  SI REGION D'AMBERIEU-EN-BUGEY  SIE REGION D'AMBERIEU-EN-BUGEY
4  SI REGION D'AMBERIEU-EN-BUGEY  SIE REGION D'AMBERIEU-EN-BUGEY

                           moalib plvconformitebacterio plvconformitechimique  \
0  SIE REGION D'AMBERIEU-EN-BUGEY                     C                     C
1  SIE REGION D'AMBERIEU-EN-BUGEY                     C                     C
2  SIE REGION D'AMBERIEU-EN-BUGEY                     C                     C
3  SIE REGION D'AMBERIEU-EN-BUGEY                     C                     C
4  SIE REGION D'AMBERIEU-EN-BUGEY                     C                     C

  plvconformitereferencebact plvconformitereferencechim de_partition  \
0                          C                          C         2020
1                          C                          C         2020
2                          C                          C         2020
3                          C                          C         2020
4                          C                          C         2020

   de_ingestion_date de_dataset_datetime
0         2025-02-14     20230811-150005
1         2025-02-14     20230811-150005
2         2025-02-14     20230811-150005
3         2025-02-14     20230811-150005
4         2025-02-14     20230811-150005

[5 rows x 21 columns]

==================================================
Table: edc_resultats
==================================================

/var/folders/g7/4lgzwcbd7j350tyzjl5vf1zm0000gn/T/ipykernel_27703/3635777492.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT * FROM {table[0]}", cursor)

# Data Profiling

Analyze data types, null values, unique values, and basic statistics for each column.

In [5]:
# Data Profiling

# Analyze data types, null values, unique values, and basic statistics for each column
for table in tables:
    print(f"\nData profiling for table {table[0]}:")

    # Query to get column names and data types
    columns_query = f"PRAGMA table_info({table[0]})"
    columns = cursor.execute(columns_query).fetchall()

    for column in columns:
        column_name = column[1]
        column_type = column[2]

        # Query to get count of null values
        null_count_query = (
            f"SELECT COUNT(*) FROM {table[0]} WHERE {column_name} IS NULL"
        )
        null_count = cursor.execute(null_count_query).fetchone()[0]

        # Query to get count of unique values
        unique_count_query = f"SELECT COUNT(DISTINCT {column_name}) FROM {table[0]}"
        unique_count = cursor.execute(unique_count_query).fetchone()[0]

        # Query to get basic statistics
        stats_query = f"SELECT MIN({column_name}), MAX({column_name}), AVG({column_name}), STDDEV({column_name}) FROM {table[0]}"
        stats = cursor.execute(stats_query).fetchone()

        print(
            f"Column: {column_name}, Type: {column_type}, Nulls: {null_count}, Unique: {unique_count}, Min: {stats[0]}, Max: {stats[1]}, Avg: {stats[2]}, Stddev: {stats[3]}"
        )

Data profiling for table cog_communes:

BinderException: Binder Error: No function matches the given name and argument types 'avg(VARCHAR)'. You might need to add explicit type casts.
	Candidate functions:
	avg(DECIMAL) -> DECIMAL
	avg(SMALLINT) -> DOUBLE
	avg(INTEGER) -> DOUBLE
	avg(BIGINT) -> DOUBLE
	avg(HUGEINT) -> DOUBLE
	avg(DOUBLE) -> DOUBLE


LINE 1: SELECT MIN(TYPECOM), MAX(TYPECOM), AVG(TYPECOM), STDDEV(TYPECOM) FROM cog_communes
                                           ^

# Sample Queries

Perform example queries to demonstrate table relationships and data patterns.

In [ ]:
# Sample Queries

# Query to demonstrate table relationships and data patterns
# Example 1: Join two tables and display the result
join_query = """
SELECT t1.*, t2.*
FROM table1 t1
JOIN table2 t2 ON t1.common_column = t2.common_column
LIMIT 5
"""
join_result = cursor.execute(join_query).fetchall()
print("\nJoin result between table1 and table2:")
for row in join_result:
    print(row)

# Example 2: Aggregate data from a table
aggregate_query = """
SELECT column1, COUNT(*), AVG(column2)
FROM table1
GROUP BY column1
LIMIT 5
"""
aggregate_result = cursor.execute(aggregate_query).fetchall()
print("\nAggregate result from table1:")
for row in aggregate_result:
    print(row)

# Example 3: Filter data based on a condition
filter_query = """
SELECT *
FROM table1
WHERE column3 > 100
LIMIT 5
"""
filter_result = cursor.execute(filter_query).fetchall()
print("\nFiltered result from table1 where column3 > 100:")
for row in filter_result:
    print(row)

# Data Visualization

Create visualizations using pandas and plotly to better understand the data distribution and relationships.

In [ ]:
import pandas as pd
import plotly.express as px


# Load data from DuckDB into pandas DataFrame
def load_table_to_df(table_name):
    query = f"SELECT * FROM {table_name}"
    df = pd.read_sql(query, con)
    return df


# Example: Visualize data distribution for a specific table
table_name = "your_table_name"  # Replace with your actual table name
df = load_table_to_df(table_name)

# Histogram for a specific column
fig = px.histogram(df, x="your_column_name")  # Replace with your actual column name
fig.show()

# Scatter plot to visualize relationships between two columns
fig = px.scatter(
    df, x="your_column_x", y="your_column_y"
)  # Replace with your actual column names
fig.show()

# Box plot to visualize the distribution of a column
fig = px.box(df, y="your_column_name")  # Replace with your actual column name
fig.show()

# Correlation heatmap
correlation_matrix = df.corr()
fig = px.imshow(correlation_matrix, text_auto=True)
fig.show()